AllowShortFunctionsOnASingleLine: None
BraceWrapping:
  AfterFunction: false
BreakBeforeBraces: Custom
ColumnLimit: 140
IncludeBlocks: Preserve
IncludeCategories:
  - Regex: '^<ext/.*\.h>'
    Priority: 1
  - Regex: '^<.*\.h>'
    Priority: 2
  - Regex: '^"ext/.*\.h"'
    Priority: 3
  - Regex: '^".*"'
    Priority: 4
ReflowComments: false
SortIncludes: CaseSensitive